.c-footer{
  background-color: $light;
  color: $dark;
  ul, li{
    margin:0;
  }
  a{
    svg{
      fill: $primary;
    }
    &:hover{
      opacity:0.8;
    }
  }

  .p-nav-item{
    font-size: $base-font-size-max;
    margin-bottom: 0.8rem;
  }
  
  p, li{
    text-align: center;

    @include media-query(md){
      text-align: left;
    }
  }

  .c-footer-nav{
    a{
      color: $primary;
    }
  }
}