.p-header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 700px;

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;

    h1 {
      color: $white;
      text-shadow: 0 0 4px rgba(0,0,0,0.3);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      width: 100%;
      height: 100%;
      margin-top: 0;
      top: 0;
    }
  }
}

.p-header-small {
  position: relative;
  display: flex;
  justify-content: center;
  height: 450px;
  &.p-header-contact {
    background: rgb(242, 47, 106);
    background: linear-gradient(90deg, rgba(242, 47, 106, 1) 41%, rgba(255, 223, 74, 1) 100%);
  }

  &.p-header-portfolio {
    background: rgb(0, 28, 94);
    background: linear-gradient(90deg, rgba(0, 28, 94, 1) 0%, rgba(242, 47, 106, 1) 100%);
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;

    h1 {
      color: $white;

      &:after {
        content: none;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    figcaption {
      position: absolute;
      width: 100%;
      height: 100%;
      margin-top: 0;
      top: 0;
    }
  }
}
