/*
 * NAVIGATION
 */

.body-overflow {
	height: 100%;
	overflow: hidden;

	.p-nav {
		position: fixed;
		overflow-y: scroll;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $dark;
		z-index: 100;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.p-nav-top {
			display: flex;
			z-index: 101;
		}

		.p-nav-main {
			display: flex;
			width: 100%;

			ul {
				width: 100%;
				li {
					width: 100%;
				}
			}

			.p-nav-button-title {
				font-size: 1.5rem;
				padding: 0.8em;
			}

			.p-subnav-wrapper {
				.p-subnav-active-btn {
					color: $primary !important;
					//font-weight: bold;
					background-color: $light;

					.c-icon {
						fill: $primary;
						transform: rotateX(180deg);
					}
				}

				> .p-nav-subnav {
					&.p-subnav-active {
						visibility: visible;
						height: auto;
						transform: scale(1);
						padding: 1em;
					}
				}
			}
		}

		.p-nav-toggle {
			span:nth-child(1) {
				top: 18px;
				width: 0%;
				left: 50%;
			}

			span:nth-child(2) {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			span:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			span:nth-child(4) {
				top: 18px;
				width: 0%;
				left: 50%;
			}
		}
	}
}

.p-nav {
	background-color: $dark;
	position: relative;
	z-index: 50;

	@include media-query(xl) {
		background: rgb(0, 0, 0);
		background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	}

	&.p-nav-dark {
		background-color: $dark;
	}

	.p-nav-logo {
		display: block;
		width: 150px;
		height: auto;
		object-fit: contain;
	}

	.p-nav-top {
		color: $white;
		width: 100%;
		display: none;
		order: 2;

		@include media-query(xl) {
			font-size: 0.9rem;
			a {
				.c-icon {
					width: 22px;
					height: 22px;
				}
			}
		}

		a {
			transition: all 0.3s ease-out;
			.c-icon {
				fill: $white;
				width: 26px;
				height: 26px;
				transition: all 0.3s ease-out;
			}
			&:hover {
				color: $tertiary;
				.c-icon {
					fill: $tertiary;
				}
			}
		}

		@include media-query(xl) {
			position: relative;
			display: flex;
			border-bottom: 1px solid $grey;
			.p-nav-lang {
				border-left: 1px solid $grey;
				padding-left: 1em;
			}
		}
	}

	.p-nav-toggle {
		width: 30px;
		height: 25px;
		position: relative;

		@include media-query(xl) {
			margin: 25px 0;
		}

		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		cursor: pointer;

		span {
			display: block;
			position: absolute;
			height: 4px;
			width: 100%;
			background: $tertiary;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: 0.25s ease-in-out;
			-moz-transition: 0.25s ease-in-out;
			-o-transition: 0.25s ease-in-out;
			transition: 0.25s ease-in-out;
		}

		span:nth-child(1) {
			top: 0px;
		}

		span:nth-child(2),
		span:nth-child(3) {
			top: 10px;
		}

		span:nth-child(4) {
			top: 20px;
		}
	}

	.p-nav-main {
		button {
			background-color: $white;
			.c-icon {
				transition: all 0.5s ease-out;
			}
			&:focus {
				outline: 0;
			}
		}
		.p-nav-button-title {
			transition: color 0.4s ease-out;
			appearance: none;
			border: none;
			font-weight: bold;
			display: flex;
			align-items: center;

			@include interpolate(font-size, map-get($breakpoints, xs), map-get($breakpoints, xl), 1.5rem, 1.2rem);

			.c-icon {
				transition: all 0.3s ease-out;
				display: none;
				fill: $primary;
				@include media-query(xl) {
					display: inline-block;
				}
			}

			&:hover {
				color: $tertiary;
				.c-icon {
					fill: $primary;
				}
			}
		}

		li {
			list-style-type: none;

			@include media-query(xl) {
				&:not(:first-child) {
					margin-left: 3rem;
				}
			}

			.p-nav-button-title {
				text-decoration: none;
				color: $white;
				background-color: transparent;
				transition: color 0.4s ease-out;

				&.p-nav-button-active {
					color: $tertiary;
				}

				.c-icon {
					width: 20px;
					height: 12px;
					margin-left: 0.1em;
				}
			}
		}

		.p-subnav-wrapper {
			position: relative;

			@include media-query(xl) {
				&:hover {
					.p-nav-button-title {
						color: $tertiary;
					}
					> .p-nav-subnav {
						opacity: 1;
						visibility: visible;
					}
				}
			}

			> .p-nav-subnav {
				display: flex;
				flex-direction: column;
				visibility: hidden;

				div {
					justify-content: space-between;
					flex-wrap: wrap;
					ul {
						width: 50%;

						a {
							@include interpolate(
								font-size,
								map-get($breakpoints, xs),
								map-get($breakpoints, xl),
								1.3rem,
								1rem
							);
						}
					}
				}

				height: 0;
				transform: scaleY(0);

				border: none;
				background-color: $light;
				position: relative;

				li {
					position: relative;
				}

				div {
					position: relative;
				}

				@include media-query(xl) {
					display: flex;
					position: absolute;

					div {
						flex-wrap: nowrap;
						ul {
							width: auto;
							&:not(:first-child) {
								margin-left: 3.5em;
							}
						}
					}
					opacity: 0;
					top: 100%;
					left: 0;
					//right: 0;
					min-width: 100px;
					background-color: $white;
					border: 1px solid $grey;
					transition: all 0.4s ease-out;
					height: auto;
					transform: scaleY(1);
				}

				a {
					text-decoration: none;
					color: $dark;
					transition: all 0.3s ease-out;
					white-space: nowrap;
					&:hover {
						color: $tertiary;
					}
				}

				li,
				ul {
					margin-left: 0;
				}
			}
		}
	}
}
