@charset "UTF-8";

/* -------------------- FONT IMPORTS -------------------- */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

/* -------------------- GRID SETTINGS -------------------- */

$columns: 12;
$gutter: 16/16*1rem;

$breakpoints: (
        xs: 480/16*1rem,
        sm: 640/16*1rem,
        md: 960/16*1rem,
        lg: 1024/16*1rem,
        xl: 1140/16*1rem,
        //xxl: 1440/16*1rem,
);

// SPACING
$spacing: (
        auto: auto,
        none: 0/16*1rem,
        xs: 8/16*1rem,
        sm: 16/16*1rem,
        md: 24/16*1rem,
        lg: 32/16*1rem,
        xl: 40/16*1rem,
        xxl: 80/16*1rem
);

/* -------------------- BRAND COLOURS -------------------- */

$primary: #8F8073;
$secondary: #EAE6E5;
$tertiary: #C7EAE4;

$dark: #0a0a0a;
$medium: #8D8D8D;
$grey: #D8D8D8;
$light: #f8f8f8; // rgba(238, 238, 238, 1)
$white: #ffffff;

$border-radius: 3px;

/* -------------------- FONT FAMILY VARIABLES -------------------- */

$font-family-main: 'Playfair Display', serif;
$font-family-title: 'Playfair Display', serif;

/* -------------------- FONT SIZES -------------------- */

// TYPOGRAPHY
$base-font-family: $font-family-main;
$base-font-size-min: 1rem;
$base-font-size-max: 1rem;
$base-font-weight: 400;
$base-line-height: 1.8;
$base-color: $dark;

$h1-font-family: $font-family-title;
$h1-font-size-min: 2.3rem;
$h1-font-size-max: 2.8rem;
$h1-font-weight: 300;
$h1-line-height: 1.8;
$h1-color: $dark;

$h2-font-family: $font-family-title;
$h2-font-size-min: 1.6rem;
$h2-font-size-max: 1.8rem;
$h2-font-weight: 300;
$h2-line-height: 1.4;
$h2-color: $dark;

$h3-font-family: $font-family-title;
$h3-font-size-min: 1.50rem;
$h3-font-size-max: 1.75rem;
$h3-font-weight: 300;
$h3-line-height: 1.4;
$h3-color: $dark;

$h4-font-family: $font-family-title;
$h4-font-size-min: 1.15rem;
$h4-font-size-max: 1.375rem;
$h4-font-weight: 700;
$h4-line-height: 1.4;
$h4-color: $dark;

$h5-font-family: $font-family-main;
$h5-font-size-min: 1.15rem;
$h5-font-size-max: 1.375rem;
$h5-font-weight: 400;
$h5-line-height: 1.4;
$h5-color: $dark;

$h6-font-family: $font-family-main;
$h6-font-size-min: 1.15rem;
$h6-font-size-max: 1.4rem;
$h6-font-weight: 400;
$h6-line-height: 1.375;
$h6-color: $dark;