.c-blog {
    h3 {
        font-weight: normal;
        @include interpolate(
            font-size,
            map-get($breakpoints, xs),
            map-get($breakpoints, xl),
            $h5-font-size-min,
            $h5-font-size-max
        );
    }
    .c-blog-date{
        color: $medium;
        position: relative;
        &:after{
            content:'';
            width: 75px;
            height: 1px;
            display: block;
            margin: 20px auto;
            background-color: $primary;
        }
    }
}
