.c-button {
  display: inline-block;
  padding: .625em 1.125em;
  background-color: $light;
  border-radius: 3px;
  transition: all .1s ease;
  letter-spacing: 2px;
  text-decoration: none !important;
  font-size: 1rem;

  &:hover {
    background-color: darken($light, 5%);
  }
}

button.mgbutton {
  background-color: $primary !important;
  color: $white !important;

  &:hover {
    background-color: darken($primary, 5%);
    color: $white;
  }
}

.c-button-primary {
  background-color: $tertiary;
  color: $dark;
  text-decoration: none !important;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: darken($tertiary, 5%);
    color: $dark;
  }
}

.c-button-secondary {
  background-color: $white;
  color: $primary;
  text-decoration: none !important;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: darken($white, 5%);
    color: $primary;
  }
}