.c-card {
  background: white;
  display: block;
  transition: all 0.4s ease-out;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  h2 {
    padding: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  &:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }
}

.c-card-portfolio {
  h3 {
    padding: 20px;
    text-align: center;
    margin: 0;
    @include interpolate(
      font-size,
      map-get($breakpoints, xs),
      map-get($breakpoints, xl),
      $h4-font-size-min,
      $h4-font-size-max
    );
  }
}

.c-card-menu {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  border: 1px solid $dark;
  h2 {
    background-color: $white;
    text-align: center;
    margin: -3.5rem auto 0 auto;
    padding: 0 20px;
  }
}
