.c-hero{
  position:relative;
  display:flex;
  width:100%;
  justify-content: center;
  //height:500px;

  .c-slider-slick-for{
    max-height: 500px;
    height: 500px;
  }

  figure{
    width:100%;
    height: 100%;
    overflow:hidden;
    position: absolute;

    img{
      width:100%;
      height:100%;
      object-fit: cover;
    }
  }

  figcaption{
    position: absolute;
    width:100%;
    height:100%;
    margin-top:0;
  }

  .c-hero-content{
    h1, h2{
      font-weight: bold;
      color: $white;
    }
    p{
      color: $white;
    }
  }

  .c-slider{
    position:relative;
    z-index: 1;
    &:before{
      content:'';
      z-index: 0;
      width:90%;
      height:70%;
      position: absolute;
      right: -20px;
      top:20px;
      display: block;
      background-color: lighten($primary, 20%);
    }
  }
}