.c-pagination {
  a {
    color: $primary;
    transition: all 0.3s ease-out;

    &:hover{
      color: darken($primary, 10%);
    }
  }
}

.c-pagination-text{
  a {
    transition: all 0.3s ease-out;
    color: $primary;
    font-weight: bold;
    text-decoration: underline;
    transition: 0.3s ease-out all;
    &:hover{
      color: darken($primary, 10%);
    }
  }
}