.c-portfolio{
   position: relative;
   display:none;
    .c-portfolio-item{
       width: 30%;
       height: auto;
       display: block;
       padding: 10px;
    } 
}

.c-portfolio-contact{
    background-color: $tertiary;
}