.c-services{
  background-color: $primary;

  h2{
    color: $white;
  }

  .c-icon{
    width:120px;
    height:120px;
    fill: $primary;
    display: block;
  }

  .c-services-neg{
    background-color: $light;
  }
}