/*
 * BASE
 */

html {
  width: 100%;
  font-family: $base-font-family;
  @include interpolate(
                  font-size,
                  map-get($breakpoints, xs),
                  map-get($breakpoints, xl),
                  $base-font-size-min,
                  $base-font-size-max
  );
  line-height: $base-line-height;
  color: $dark;
  font-weight: $base-font-weight;
  @include font-smoothing(on);
}

body {
  width: 100%;
  min-height: 100%;
  background-color: $white;
  font-size: 1.125rem;
  line-height: 1.5;
}

p, li {
  margin-bottom: 1em;
}

hr{
  border-color: $grey;
  height: 1px;
  border: 0;
  background-color: $grey;
}

