.g-body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: $white;
  -webkit-transition: margin-left .3s ease-out;
  transition: margin-left .3s ease-out;
}