/*
 * SPACING
 */

.g-m{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      margin: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          margin: #{map-get($spacing, $m)};
        }
      }
    }
  }
}

.g-m-x{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      margin-left: #{map-get($spacing, $m)};
      margin-right: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          margin-left: #{map-get($spacing, $m)};
          margin-right: #{map-get($spacing, $m)};
        }
      }
    }
  }
}

.g-m-y{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      margin-top: #{map-get($spacing, $m)};
      margin-bottom: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          margin-top: #{map-get($spacing, $m)};
          margin-bottom: #{map-get($spacing, $m)};
        }
      }
    }
  }
}

.g-m-top{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      margin-top: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          margin-top: #{map-get($spacing, $m)};
        }
      }
    }
  }
}

.g-m-bottom{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      margin-bottom: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          margin-bottom: #{map-get($spacing, $m)};
        }
      }
    }
  }
}

.g-m-left{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      margin-left: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          margin-left: #{map-get($spacing, $m)};
        }
      }
    }
  }
}

.g-m-right{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      margin-right: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          margin-right: #{map-get($spacing, $m)};
        }
      }
    }
  }
}

.g-p{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      padding: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          padding: #{map-get($spacing, $m)};
        }
      }
    }
  }
}

.g-p-x{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      padding-left: #{map-get($spacing, $m)};
      padding-right: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          padding-left: #{map-get($spacing, $m)};
          padding-right: #{map-get($spacing, $m)};
        }
      }
    }
  }
}

.g-p-y{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      padding-top: #{map-get($spacing, $m)};
      padding-bottom: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          padding-top: #{map-get($spacing, $m)};
          padding-bottom: #{map-get($spacing, $m)};
        }
      }
    }
  }
}

.g-p-top{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      padding-top: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          padding-top: #{map-get($spacing, $m)};
        }
      }
    }
  }
}

.g-p-bottom{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      padding-bottom: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          padding-bottom: #{map-get($spacing, $m)};
        }
      }
    }
  }
}

.g-p-left{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      padding-left: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          padding-left: #{map-get($spacing, $m)};
        }
      }
    }
  }
}

.g-p-right{
  @each $m, $val in map-keys($spacing){
    &-#{$m}{
      padding-right: #{map-get($spacing, $m)};
    }
  }

  @each $bp in map-keys($breakpoints){
    @include media-query($bp){
      @each $m, $val in map-keys($spacing){
        &-#{$m}-#{$bp}{
          padding-right: #{map-get($spacing, $m)};
        }
      }
    }
  }
}